<h1>New Price Register</h1>

<%= render 'form', price_register: @price_register %>


<button type="button" class="btn btn-outline-primary"><%= link_to t('g.back'), price_registers_path , class: "btn text-dark"%></button>


