<h1>Editing Rotation</h1>

<%= render 'form', rotation: @rotation %>

<button type="button" class="btn btn-outline-info"><%= link_to t('g.show'), @rotation, class: "btn text-dark" %>  </button>

<button type="button" class="btn btn-outline-info"><%= link_to t('g.back'), rotations_path, class: "btn text-dark" %> </button>



