<h1>New Department</h1>

<%= render 'form', department: @department %>

<button type="button" class="btn btn-outline-primary"><%= link_to t('g.back'), departments_path, class: "btn text-dark" %></button>

