<h1>New Phone Number</h1>

<%= render 'form', phone_number: @phone_number %>


<button type="button" class="btn btn-outline-primary"><%= link_to t('g.back'), phone_numbers_path, class: "btn text-dark" %></button>

