<h1>Editing Branch Office</h1>

<%= render 'form', branch_office: @branch_office %>

<button type="button" class="btn btn-outline-info"><%= link_to t('g.show'), @branch_office, class: "btn text-dark" %> </button>

<button type="button" class="btn btn-outline-info"><%= link_to t('g.back'), branch_offices_path, class: "btn text-dark" %></button>


