<h1>New Branch Office</h1>

<%= render 'form', branch_office: @branch_office %>

<button type="button" class="btn btn-outline-primary"><%= link_to t('g.back'), branch_offices_path , class: "btn text-dark"%></button>

