<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<button type="button" class="btn btn-outline-info"><%= link_to t('g.show'), @category , class: "btn text-dark"%> </button>

<button type="button" class="btn btn-outline-info"><%= link_to t('g.back'), categories_path , class: "btn text-dark"%> </button>



