<h1>Editing Sale</h1>

<%= render 'form', sale: @sale %>

<button type="button" class="btn btn-outline-info"><%= link_to t('g.show'), @sale , class: "btn text-dark"%> </button>

<button type="button" class="btn btn-outline-info"><%= link_to t('g.back'), sales_path, class: "btn text-dark" %></button>

 
